$green: #6eda78;
$orange: #ffa200;

.mr-1 {
    margin-right: 1rem;
}

.mr-3 {
    margin-right: 3rem;
}

.my-3 {
    margin: 3rem 0rem;
}

.mx-1{
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-1 {
    margin: 1rem 0rem;
}


Button {
    color: black !important;
    font-weight: bold !important;
    height: fit-content !important;
    width: auto !important;
    min-width: 25% !important;
    padding: 20px 40px !important;
    background-color: white !important;
    border: 1px solid darkgray !important;

    &:hover {
        background: $orange !important;
    }

    &:active {
        background: $green !important;
    }

    p{
        margin: 0rem;
    }
}


.circle {
    height: 50px;
    width: 50px;
    background-color: darkgrey;
    border-radius: 50%;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid darkgrey;
    border-bottom: 25px solid transparent;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid darkgrey;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid darkgrey;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid darkgrey;
    border-bottom: 25px solid transparent;
}

.trapezoid {
    border-bottom: 50px solid darkgrey;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 90px;
}

.rectangle {
    height: 50px;
    width: 100px;
    background-color: darkgrey;
}

.parallelogram {
    width: 100px;
    height: 50px;
    transform: skew(20deg);
    background: darkgrey;
}

.oval {
    height: 50px;
    width: 100px;
    background-color: darkgrey;
    border-radius: 50%;
}

.square {
    height: 50px;
    width: 50px;
    background-color: darkgrey;
}

.left-container {
    text-align: left;
}

.right-container {
    text-align: right;
}